<html lang="{{lang}}">
<head>
    <title>{{i18n 'welcomeMsg' default='Welcome'}}</title>
</head>

<body style="color: #7E8186; font-family: Verdana, serif; font-size: 0.7em">
    <table align="center" style="text-align: center; padding-top: 2em;">
        <tr style="color: #57667D; font-size: 1.2em; font-weight: lighter;">
            <td>{{i18n 'confirmationCodeTitle' default='Confirmation code'}}</td>
        </tr>
        <tr style="color: #4C596D; font-size: 2em; font-family: 'Arial Black',serif; font-weight: bold; height: 2.8em">
            <td id="code">{{code}}</td>
        </tr>
    </table>

    <h1 align="center">Variables available for templates:</h1>
    <table style="font-size: 1.25em">
        <tr>
           <th>Variable</th>
           <th>Value</th>
        </tr>
        <tr>
            <td>confirmationUrl</td>
            <td>{{confirmationUrl}}</td>
        </tr>
        <tr>
            <td>action</td>
            <td>{{action}}</td>
        </tr>
        <tr>
            <td>user</td>
            <td>{{user}}</td>
        </tr>
        <tr>
            <td>session</td>
            <td>{{session}}</td>
        </tr>
        <tr>
            <td><b>userId</b></td>
            <td>{{user.id}}</td>
        </tr>
        <tr>
            <td><b>newUser</b></td>
            <td>{{session.newUser}}</td>
        </tr>
        <tr>
            <td><b>sessionId</b></td>
            <td>{{session.id}}</td>
        </tr>
        <tr>
            <td><b>codeId</b></td>
            <td>{{codeId}}</td>
        </tr>
        <tr>
            <td><b>code</b></td>
            <td>{{code}}</td>
        </tr>
        <tr>
            <td>codeExpiresInMinutes</td>
            <td>{{codeExpiresInMinutes}}</td>
        </tr>
        <tr>
            <td>lang</td>
            <td>{{lang}}</td>
        </tr>
        <tr>
            <td>headers</td>
            <td>{{headers}}</td>
        </tr>
    </table>
</body>
</html>
